@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-button-next
    {
        right: 0;

        margin-right: 0;
    }


    .main_slider .message
    {
        margin-right: 194px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos
    {
        width: 100%;
        margin-top: 24px;
    }
}
