@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 40px;
        --font_size_title_big: 48px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .block
    {
        margin-bottom: 72px;
    }

    .block.small_m
    {
        margin-bottom: 48px;
    }

    .block.middle_m
    {
        margin-bottom: 60px;
    }

    .block.middle_m2
    {
        margin-bottom: 64px;
    }


    .cont
    {
        padding: 0 24px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        width: 180px;
        height: 37px;
    }



    header .menu
    {
        gap: 32px;
    }


    header .contacts_link a
    {
        padding: 11px 23px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 32px;

        gap: 24px;
    }


    .block_head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .block_head .link a
    {
        font-size: 17px;
        line-height: 21px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block ul li
    {
        padding-left: 16px;
    }


    .text_block ul li:before
    {
        width: 5px;
        height: 5px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .data.big
    {
        width: calc(100% - 248px);
    }


    .main_slider .head
    {
        font-size: 16px;
    }


    .main_slider .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .main_slider .link a
    {
        font-size: 17px;
        line-height: 21px;

        padding: 11px 39px;
    }


    .main_slider .items
    {
        font-size: 17px;

        width: 476px;
    }


    .main_slider .data.big .items
    {
        width: 724px;
        margin-top: 40px;
    }


    .main_slider .message
    {
        line-height: calc(100% + 10px);

        width: 200px;
        min-height: 160px;
        margin-right: 0;
        margin-bottom: 124px;
    }


    .main_slider .swiper-button-next
    {
        right: 24px;

        width: 200px;
        height: 100px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_head
    {
        width: 100%;
        margin-bottom: 32px;
    }


    .about_info .block_head .title br
    {
        display: none;
    }


    .about_info .block_head .desc
    {
        width: 100%;
    }


    .about_info .block_head .link
    {
        display: none;
    }



    .about_info .industries
    {
        width: 100%;
    }



    .about_info .mob_link
    {
        display: block;
    }



    /*----------------
        Industries
    ----------------*/
    .industries
    {
        gap: 24px;
    }


    .industries .info
    {
        width: calc(100% - 308px);
    }


    .industries .image
    {
        width: 260px;
        min-height: 228px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .head .title + *
    {
        width: calc(100% - 400px);

        gap: 32px;
    }


    .cases .head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .cases .filter
    {
        gap: 24px 80px;
    }


    .cases .filter .nice-select .current
    {
        font-size: 17px;
        line-height: 40px;

        height: 40px;
    }


    .cases .filter .nice-select-dropdown
    {
        top: -4px;

        width: 220px;
    }


    .cases .filter .nice-select .list .option
    {
        font-size: 17px;
    }


    .cases .swiper,
    .cases .swiper.small
    {
        order: 2;

        width: 100%;
        padding-bottom: 0;
    }


    .cases .swiper-button-next,
    .cases .swiper-button-prev
    {
        bottom: -66px;
    }


    .cases .swiper.small
    {
        padding-bottom: 24px;
    }


    .cases .swiper.small .swiper-button-next,
    .cases .swiper.small .swiper-button-prev
    {
        bottom: -16px;
    }


    .cases .case
    {
        padding: 40px;
    }


    .cases .case .image
    {
        width: 200px;
        height: 180px;

        border-radius: 28px 900px 28px 28px;
    }


    .cases .case .image.left
    {
        border-radius: 28px 900px 900px 28px;
    }


    .cases .case .info
    {
        width: calc(100% - 248px);
    }


    .cases .case .name
    {
        font-size: 36px;
        line-height: calc(100% + 8px);

        width: 344px;
    }


    .cases .case .industry
    {
        font-size: 14px;
        line-height: 20px;
    }


    .cases .case .tags
    {
        width: calc(100% - 248px);
        max-width: calc(100% - 248px);

        gap: 12px;
    }


    .cases .case .tags > *
    {
        font-size: 14px;
        line-height: 20px;

        padding: 8px 20px;
    }


    .cases .case .stats
    {
        font-size: 14px;

        gap: 32px;
    }


    .cases .case .stats > *:not(.sep)
    {
        min-width: 200px;
    }


    .cases .case .stats .val
    {
        font-size: 28px;
        line-height: 40px;

        margin-bottom: 0;
    }


    .cases .case .stats .sep
    {
        height: 68px;
    }


    .cases .block_head,
    .cases .block_head.big_w
    {
        width: 100%;
        margin-top: 0;
        margin-bottom: 32px;
    }


    .cases .block_head .desc
    {
        width: 100%;
    }


    .cases .block_head .link
    {
        display: none;
    }


    .cases .list
    {
        gap: 40px;
    }


    .cases .list .case .info
    {
        width: calc(100% - 320px);
    }


    .cases .list .case .name
    {
        width: 600px;
    }


    .cases .list .case .tags
    {
        width: 100%;
    }


    .cases .list .case .image,
    .cases .list .case .image.left
    {
        width: 280px;
        height: 240px;
    }


    .cases .mob_link
    {
        display: block;
    }



    .cases .more
    {
        margin-top: 40px;
    }


    .cases .more .btn
    {
        font-size: 17px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row > *
    {
        width: 280px;
    }


    .articles .row > *.big
    {
        width: calc(100% - 632px);
    }


    .articles .article
    {
        padding: 32px 24px;
    }


    .articles .article .title
    {
        font-size: 20px;
    }


    .articles .article.big
    {
        padding: 32px 24px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row
    {
        gap: 24px 40px;
    }


    .partners picture
    {
        max-width: 156px;
        height: 60px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        padding-top: 60px;
        padding-bottom: 48px;
    }


    .contacts_info .block_head
    {
        margin-bottom: 148px;
    }


    .contacts_info .image
    {
        top: -24px;

        width: 640px;
    }


    .contacts_info .row
    {
        gap: 40px 60px;
    }


    .contacts_info .item
    {
        font-size: 16px;
    }


    .contacts_info .item .name
    {
        font-size: 19px;
    }


    .contacts_info .item .address
    {
        margin-top: 32px;
    }


    .contacts_info .item .phone,
    .contacts_info .item .email
    {
        font-size: 18px;
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .head .title
    {
        line-height: calc(100% + 8px);

        width: 100%;
    }


    .case_info .head .title + *
    {
        width: 100%;
        margin-top: 24px;
    }


    .case_info .head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }



    .case_info .big_image
    {
        padding: 48px 24px;
    }



    .case_info .section .info
    {
        width: calc(100% - 320px);
    }

    .case_info .section .info.middle
    {
        width: calc(100% - 480px);
    }

    .case_info .section .info.small
    {
        width: calc(100% - 528px);
        margin-right: 0;
        margin-left: auto;
    }


    .case_info .section .info .desc
    {
        line-height: calc(100% + 10px);
    }

    .case_info .section .info.small .desc
    {
        line-height: calc(100% + 8px);
    }


    .case_info .section .quote .icon
    {
        width: 88px;
    }


    .case_info .section .image
    {
        width: 280px;
        height: 252px;
    }


    .case_info .section .default_image
    {
        width: 440px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 32px 0;
    }


    .action_block .cont
    {
        gap: 24px 68px;
    }


    .action_block .title
    {
        font-size: 28px;
    }


    .action_block .btn
    {
        font-size: 18px;

        height: 52px;
        padding: 0 32px;
    }



    /*---------------
        Service info
    ---------------*/
    .service_info .head .title
    {
        width: 400px;
    }


    .service_info .head .title + *
    {
        width: calc(100% - 460px);
    }


    .service_info .head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 12px);
    }


    .service_info .stats
    {
        gap: 68px;
    }


    .service_info .stats .val
    {
        font-size: 36px;
    }



    /*------------------------
        Service industries
    ------------------------*/
    .service_industries .industry
    {
        padding: 28px;
    }


    .service_industries .industry .name
    {
        font-size: 20px;
        line-height: calc(100% + 8px);

        min-height: 56px;
    }


    .service_industries .industry .desc
    {
        font-size: 14px;
        line-height: calc(100% + 8px);
    }



    .service_industries .action
    {
        font-size: 26px;

        padding: 28px;
    }


    .service_industries .action .btn
    {
        font-size: 17px;

        height: 52px;
        margin-top: 28px;
        padding: 0 32px;
    }



    /*------------------
        Service data
    ------------------*/
    .service_data .expertise
    {
        width: 400px;
    }


    .service_data .expertise .items
    {
        font-size: 16px;
    }


    .service_data .expertise.full_w .items
    {
        margin-left: -24px;

        gap: 0;
    }


    .service_data .expertise.full_w .col
    {
        width: calc(33.333% - 24px);
        margin-left: 24px;
    }


    .service_data .expertise .col
    {
        gap: 16px;
    }


    .service_data .expertise .col > *
    {
        padding-left: 16px;
    }


    .service_data .expertise .col > *:before
    {
        top: 7px;

        width: 5px;
        height: 5px;
    }



    .service_data .team
    {
        width: calc(100% - 448px);
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding: 68px 0;
    }


    .about_head .data
    {
        width: 480px;
    }


    .about_head .title
    {
        font-size: 44px;
    }


    .about_head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .about_head .message
    {
        font-size: 16px;
        line-height: calc(100% + 10px);

        margin-top: 28px;
        padding-left: 24px;
    }


    .about_head .message:before
    {
        height: calc(100% - 10px);
    }


    .about_head .exp
    {
        font-size: 15px;
        line-height: calc(100% + 8px);

        width: 312px;
        padding: 28px 60px 28px 28px;
    }



    /*----------------
        About data
    ----------------*/
    .about_data
    {
        margin-bottom: 60px;
        padding-top: 100px;
    }


    .about_data .image
    {
        width: 320px;
    }


    .about_data .data
    {
        width: 324px;
        margin-top: -180px;

        gap: 24px;
    }


    .about_data .data .exp
    {
        font-size: 16px;
        line-height: calc(100% + 8px);

        width: 300px;
        min-height: 260px;
        padding: 40px 60px 24px 24px;
    }


    .about_data .data .desc
    {
        font-size: 17px;
        line-height: calc(100% + 10px);
    }


    .about_data .stats
    {
        width: 176px;
        margin-top: 68px;
    }


    .about_data .stats .val
    {
        font-size: 28px;
    }


    .about_data .stats .desc
    {
        font-size: 17px;
        line-height: calc(100% + 10px);
    }



    /*------------
        Why we
    ------------*/
    .why_we .row
    {
        padding: 12px 0 0;
    }


    .why_we .col + .col
    {
        margin-left: 24px;
        padding-left: 24px;
    }


    .why_we .col .title
    {
        font-size: 20px;
    }


    .why_we .col .stats .val
    {
        font-size: 28px;
    }


    .why_we .col .stats .desc
    {
        line-height: calc(100% + 8px);
    }


    .why_we .col .items
    {
        font-size: 16px;
    }


    .why_we .col .desc
    {
        font-size: 15px;
        line-height: calc(100% + 8px);
    }


    .why_we .col .logos
    {
        gap: 24px;
    }


    .why_we .col .logos picture
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        max-width: 120px;
        height: 48px;
    }


    .why_we .col .logos .all_link
    {
        font-size: 16px;

        margin-top: 4px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-top: 48px;
        padding-bottom: 80px;
    }


    footer .logo img
    {
        width: 180px;
        height: 37px;
    }



    footer .menu
    {
        margin-left: 124px;

        gap: 40px;
    }
}
