@media print,
(max-width: 1899px)
{
    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 20px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-button-next
    {
        right: 0;

        margin-right: 0;
    }


    .main_slider .message
    {
        margin-right: 194px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos
    {
        width: 100%;
        margin-top: 24px;
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .big_image
    {
        padding: 60px 24px;
    }


    .case_info .tags
    {
        width: 468px;
    }


    .case_info .section .info
    {
        width: calc(100% - 440px);
    }


    .case_info .section .info.small
    {
        width: 460px;
    }


    .case_info .section .info.middle
    {
        width: calc(100% - 608px);
        margin-right: 0;
    }


    .case_info .section .info .title
    {
        margin-bottom: 20px;
    }


    .case_info .section .info .desc
    {
        line-height: calc(100% + 14px);
    }


    .case_info .section .info.small .desc
    {
        line-height: calc(100% + 10px);
    }


    .case_info .section .quote
    {
        width: 424px;
    }


    .case_info .section .quote .text
    {
        line-height: calc(100% + 10px);
    }


    .case_info .section .image
    {
        width: 380px;
        height: 336px;
    }


    .case_info .section .default_image
    {
        width: 548px;
        margin-top: 48px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .title
    {
        font-size: 34px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding: 100px 0;
    }


    .about_head .data
    {
        width: 612px;
        margin-bottom: 0;
    }


    .about_head .title
    {
        font-size: 56px;
        line-height: calc(100% + 8px);
    }


    .about_head .desc
    {
        margin-top: 24px;

        font-size: 22px;
        line-height: calc(100% + 14px);
    }


    .about_head .exp
    {
        width: 400px;
        padding: 44px 80px 44px 44px;

        font-size: 18px;
        line-height: calc(100% + 12px);
    }



    /*----------------
        About data
    ----------------*/
    .about_data
    {
        padding-top: 120px;
    }


    .about_data .image
    {
        width: 420px;
    }


    .about_data .data
    {
        width: 448px;
        margin-top: -280px;

        gap: 40px;
    }


    .about_data .data .exp
    {
        width: 400px;
        min-height: 280px;
        padding: 40px 80px 40px 40px;

        font-size: 18px;
        line-height: calc(100% + 12px);
    }


    .about_data .stats
    {
        width: 360px;
        margin-top: 48px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .col + .col
    {
        margin-left: 48px;
        padding-left: 48px;
    }


    .why_we .col .title
    {
        font-size: 28px;
    }


    .why_we .col .stats .desc
    {
        margin-top: 4px;

        font-size: 18px;
        line-height: calc(100% + 12px);
    }


    .why_we .col .items
    {
        font-size: 18px;
    }


    .why_we .col .desc
    {
        margin-top: 20px;

        font-size: 18px;
        line-height: calc(100% + 12px);
    }


    .why_we .col .logos_wrap
    {
        margin-top: 44px;
    }


    .why_we .col .logos
    {
        gap: 40px 36px;
    }


    .why_we .col .spoler_btn
    {
        font-size: 18px;
    }



    /*------------------------
        Service industries
    ------------------------*/
    .service_industries .industry,
    .service_industries .action
    {
        padding: 48px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding-block: 160px;
    }


    .error_page .title
    {
        line-height: calc(100% + 12px);
    }


    .error_page .desc
    {
        font-size: 20px;
        line-height: calc(100% + 12px);
    }


    .error_page .links a
    {
        height: 56px;
        padding-inline: 60px;

        font-size: 18px;
    }


    .error_page .code
    {
        padding-block: 124px;
        padding-inline: 124px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head .cont
    {
        min-height: 600px;
        padding-block: 80px;
    }


    .product_info .head .desc
    {
        width: 500px;

        font-size: 22px;
        line-height: calc(100% + 14px);
    }


    .product_info .head .btn
    {
        margin-top: 24px;
        padding-block: 12px;
        padding-inline: 44px;
    }



    .product_info .data .desc,
    .product_info .data .features
    {
        font-size: 18px;
        line-height: 1.75;
    }


    .product_info .data .features .val
    {
        padding-top: 20px;

        font-size: 30px;
    }


    .product_info .data .image
    {
        width: 394px;
    }


    .product_info .data .decoration
    {
        width: 260px;
        min-height: 228px;
    }



    /*------------------
        How achieved
    ------------------*/
    .how_achieved .item
    {
        padding: 48px;

        gap: 20px;
    }



    /*----------------
        Uase range
    ----------------*/
    .uase_range .features .title
    {
        font-size: 28px;
        line-height: 68px;
    }


    .uase_range .features .items > *
    {
        font-size: 18px;
    }



    .uase_range .item
    {
        padding: 48px;

        gap: 20px;
    }


    .uase_range .item .name
    {
        min-height: 68px;

        font-size: 24px;
        line-height: calc(100% + 10px);
    }
}
