@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 36px;
        --font_size_title_big: 36px;
    }


    .block
    {
        margin-bottom: 60px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        margin-bottom: 40px;
        padding: 20px 0;
    }


    header .logo img
    {
        width: 145px;
        height: 30px;
    }


    header .contacts_btn
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 28px;

        gap: 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 24px;
    }


    .form .input
    {
        height: 48px;

        font-size: 15px;
    }


    .form textarea
    {
        height: 80px;

        font-size: 15px;
    }


    .form .row
    {
        gap: 24px;
    }


    .form .row .agree
    {
        width: 100%;
    }


    .form .captcha
    {
        width: 100%;
    }


    .form .submit_btn
    {
        width: 100%;
        height: 48px;

        font-size: 15px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 717px;
        padding-top: 124px;
        padding-bottom: 48px;
    }


    .main_slider .head
    {
        font-size: 14px;

        gap: 12px;
    }


    .main_slider .head .sep
    {
        height: 14px;
    }


    .main_slider .head picture,
    .main_slider .head picture img
    {
        height: 28px;
    }


    .main_slider .desc
    {
        font-size: var(--font_size);
        line-height: calc(100% + 8px);
    }


    .main_slider .items,
    .main_slider .data.big .items
    {
        margin-top: 32px;
    }


    .main_slider .message
    {
        width: 100%;
        margin-top: 32px;
        padding: 20px 48px 20px 24px;
    }


    .main_slider .swiper-button-next
    {
        display: none;
    }


    .main_slider .swiper-pagination
    {
        display: flex;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_head
    {
        margin-bottom: 28px;
    }


    .industries .info
    {
        width: 100%;
        padding: 32px 48px 32px 24px;
    }


    .industries .info .name
    {
        font-size: 30px;
    }


    .industries .info .stats
    {
        margin-top: 20px;
    }


    .industries .info .stats .val
    {
        font-size: 24px;
        line-height: 32px;
    }


    .industries .image
    {
        width: 100%;
        min-height: 300px;
        margin-bottom: 24px;
    }


    .industries .image.mob_hide
    {
        display: none;
    }


    .about_info .mob_link
    {
        margin-top: 32px;
    }


    .about_info .mob_link a
    {
        font-size: 16px;
        line-height: 18px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos picture
    {
        height: 60px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .head .title
    {
        width: 100%;
    }


    .cases .head .title br
    {
        display: none;
    }


    .cases .head .title + *
    {
        width: 100%;
        margin-top: 20px;
    }


    .cases .head .desc
    {
        font-size: 15px;
    }


    .cases .list
    {
        gap: 24px;
    }


    .cases .swiper.small .swiper-button-next,
    .cases .swiper.small .swiper-button-prev
    {
        bottom: -12px;
    }


    .cases .case
    {
        padding: 32px 24px;
    }


    .cases .case .name
    {
        order: 2;

        width: 100%;

        font-size: 30px;
    }


    .cases .case .name br
    {
        display: none;
    }


    .cases .case .image
    {
        order: 1;

        margin-bottom: 24px;
    }


    .cases .case .industry
    {
        order: 3;
    }


    .cases .case .tags
    {
        order: 4;

        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }


    .cases .case .stats
    {
        order: 5;

        width: 100%;
        max-width: 100%;

        gap: 16px;
    }


    .cases .case .stats > *:not(.sep)
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;

        width: 100%;

        gap: 20px;
    }


    .cases .case .stats > *.mob_column
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        gap: 4px;
    }


    .cases .case .stats .val
    {
        line-height: 100%;

        white-space: nowrap;
    }


    .cases .case .stats > *.mob_column .val
    {
        font-size: 24px;
    }


    .cases .case .stats .val + *
    {
        width: 100%;
        max-width: 100%;
    }


    .cases .case .stats .sep
    {
        width: 100%;
        height: 1px;
    }


    .cases .mob_link
    {
        margin-top: 24px;
    }


    .cases .mob_link a
    {
        font-size: 16px;
        line-height: 18px;
    }


    .cases .swiper-button-next,
    .cases .swiper-button-prev
    {
        bottom: -54px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        padding-bottom: 40px;
    }


    .contacts_info .block_head
    {
        margin-bottom: 72px;
    }


    .contacts_info .image
    {
        top: 0;

        width: 100%;
    }


    .contacts_info .row > *
    {
        width: calc(50% - 24px);
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .head
    {
        margin-bottom: 48px;
    }


    .case_info .head .desc
    {
        font-size: 15px;
    }



    .case_info .stats > *:not(.sep)
    {
        min-width: 0;
    }


    .case_info .stats .sep
    {
        height: 48px;
    }


    .case_info .stats .val
    {
        font-size: 24px;
    }



    .case_info .big_image
    {
        padding: 40px 24px;
    }



    .case_info .tags
    {
        gap: 10px;
    }



    .case_info .section .logo
    {
        margin-bottom: 16px;
    }


    .case_info .section .logo img
    {
        max-height: 40px;
    }


    .case_info .section .quote .icon
    {
        width: 68px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 32px 0;
    }


    .action_block .cont
    {
        gap: 20px 0;
    }


    .action_block .title
    {
        width: 100%;

        font-size: 24px;

        text-align: center;
    }


    .action_block .btn
    {
        font-size: 16px;
    }



    /*---------------
        Service info
    ---------------*/
    .service_info .head .title
    {
        line-height: calc(100% + 8px);
    }


    .service_info .head .desc
    {
        font-size: 15px;
        line-height: calc(100% + 8px);
    }


    .service_info .stats
    {
        font-size: 14px;
    }


    .service_info .stats .val
    {
        font-size: 28px;
    }



    /*------------------------
        Service industries
    ------------------------*/
    .service_industries .row
    {
        margin-left: 0;
    }


    .service_industries .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .service_industries .industry.bottom_border
    {
        border-bottom-right-radius: 20px;
    }


    .service_industries .industry .name
    {
        min-height: 0;

        font-size: 19px;
    }



    .service_industries .action
    {
        width: 100%;
        padding: 24px;

        font-size: 24px;

        border-radius: 20px;
    }



    /*------------------
        Service data
    ------------------*/
    .service_data .expertise .items
    {
        margin-bottom: -12px;
        margin-left: 0;
    }


    .service_data .expertise .col
    {
        width: 100%;
        margin-bottom: 12px;
        margin-left: 0;

        gap: 12px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding: 48px 0;
    }


    .about_head .data
    {
        width: 100%;
    }


    .about_head .title
    {
        font-size: 36px;
    }


    .about_head .desc
    {
        font-size: 15px;
    }


    .about_head .exp
    {
        width: 100%;
        margin-top: 24px;
        padding: 20px 48px 20px 0;
    }



    /*----------------
        About data
    ----------------*/
    .about_data
    {
        margin-bottom: 60px;
        padding-top: 60px;
    }


    .about_data .image
    {
        width: 100%;
    }


    .about_data .data
    {
        width: 100%;
        margin-top: 24px;
        margin-left: 0;
    }


    .about_data .data .exp
    {
        min-height: 0;
    }


    .about_data .data .desc
    {
        font-size: 15px;
        line-height: calc(100% + 8px);
    }


    .about_data .stats
    {
        width: 100%;
        margin-top: 24px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .col .title br
    {
        display: none;
    }


    .why_we .col .logos_wrap
    {
        height: 120px;
    }


    .why_we .col .logos
    {
        justify-content: center;

        gap: 24px 36px;
    }


    .why_we .col .logos picture
    {
        max-width: 120px;
        height: 48px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        padding: 24px;
    }


    .article_info .image
    {
        width: 240px;
    }



    /*-------------------
        Services head
    -------------------*/
    .services_head .section + .section
    {
        margin-top: 40px;
    }


    .services_head .image
    {
        margin-bottom: 24px;
    }


    .services_head .info
    {
        width: 100%;
    }



    .services_head .items
    {
        margin-left: 0;

        gap: 0;
    }


    .services_head .item
    {
        width: 100%;
        margin-left: 0;
        padding: 23px;
    }


    .services_head .item:nth-child(3)
    {
        width: 100%;
        padding: 120px 48px 24px 24px;
    }


    .services_head .item:nth-child(2)
    {
        margin-top: 36px;
        padding-top: 63px;
        padding-bottom: 23px;
    }


    .services_head .item:nth-child(1)
    {
        margin-top: 36px;
        padding-top: 63px;
        padding-bottom: 23px;
    }


    .services_head .item:nth-child(1) .number
    {
        top: -37px;
        bottom: auto;
        left: 24px;
    }



    /*------------------
        Our services
    ------------------*/
    .our_services .tabs
    {
        margin-bottom: 40px;
    }


    .our_services .tabs .btn
    {
        padding: 19px 0;
    }



    /*-------------
        Why we2
    -------------*/
    .why_we2 .block_head
    {
        width: 100%;
        margin-bottom: 40px;
        padding: 23px 51px 23px 23px;
    }


    .why_we2 .data
    {
        width: 100%;
        padding: 24px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding-block: 100px;
    }


    .error_page .data
    {
        width: 100%;

        gap: 24px;
    }


    .error_page .desc
    {
        font-size: 15px;
    }


    .error_page .code
    {
        padding-block: 60px;
        padding-inline: 60px;
    }



    /*-----------
        Products
    -----------*/
    .products
    {
        padding-bottom: 32px;
    }


    .products .head .title
    {
        width: 100%;
    }


    .products .head .title br
    {
        display: none;
    }


    .products .head .title + *
    {
        width: 100%;
        margin-top: 20px;
    }


    .products .head .desc
    {
        font-size: 15px;
    }



    .products .grid
    {
        margin: 0;
    }


    .products .grid > *
    {
        width: 100%;
        margin: 0;
    }


    .products .grid .swiper-slide
    {
        width: 300px;
    }


    .products .product
    {
        padding-inline: 24px;
    }


    .products .product .icon
    {
        right: 24px;

        width: 40px;
    }


    .products .product .name
    {
        width: calc(100% - 48px);

        font-size: 20px;
    }


    .products .product .desc
    {
        width: calc(100% - 48px);

        font-size: 13px;
    }


    .products .product .tags > *
    {
        padding-inline: 12px;

        font-size: 10px;
        line-height: 160%;
    }



    .products .controls
    {
        display: flex;
    }



    .products .more
    {
        margin-top: 24px;

        text-align: left;
    }


    .products .more .btn
    {
        width: 132px;
        height: 44px;

        font-size: 16px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        margin-bottom: 60px;
    }


    .product_info .head .cont
    {
        justify-content: flex-end;

        padding-block: 40px;
    }



    .product_info .head:before
    {
        width: 100%;

        background: linear-gradient(0deg, #3a449f 53.38%, rgba(63, 73, 151, .00) 96.78%);
    }


    .product_info .head .info
    {
        width: 100%;
    }


    .product_info .head .title
    {
        font-size: 36px;
    }


    .product_info .head .desc
    {
        font-size: 15px;
    }



    .product_info .data
    {
        margin-top: 40px;
    }


    .product_info .data .desc,
    .product_info .data .features
    {
        font-size: 16px;
    }


    .product_info .data .features
    {
        gap: 4px;
    }


    .product_info .data .features > *
    {
        width: 100%;
    }


    .product_info .data .line
    {
        margin-top: 40px;
    }



    /*------------------
        How achieved
    ------------------*/
    .how_achieved
    {
        margin-bottom: 60px;
    }


    .how_achieved .item .desc
    {
        font-size: 14px;
    }


    .how_achieved .item .desc
    {
        font-size: 14px;
    }



    /*----------------
        Uase range
    ----------------*/
    .uase_range .features .title
    {
        font-size: 20px;
        line-height: 40px;
    }


    .uase_range .features .items
    {
        margin-bottom: 16px;
        margin-left: 0;
    }


    .uase_range .features .items > *
    {
        width: 100%;
        margin-bottom: 16px;
        margin-left: 0;

        font-size: 15px;
    }



    .uase_range .item .name
    {
        font-size: 18px;
    }


    .uase_range .item .desc
    {
        font-size: 14px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-top: 40px;
        padding-bottom: 60px;
    }


    footer .logo img
    {
        width: 145px;
        height: 30px;
    }


    footer .menu
    {
        display: none;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        width: 440px;
        padding: 32px;
    }


    .modal_title
    {
        margin-bottom: 20px;

        font-size: 22px;
    }
}
