@media print,
(max-width: 1899px)
{
    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 20px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        gap: 32px;
    }


    .block_head .title,
    .block_head .title.small
    {
        line-height: calc(100% + 12px);
    }


    .block_head .desc
    {
        font-size: 20px;
        line-height: calc(100% + 12px);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .submit
    {
        padding-top: 12px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-button-next
    {
        right: 0;

        margin-right: 0;
    }


    .main_slider .message
    {
        margin-right: 194px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos
    {
        width: 100%;
        margin-top: 24px;
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .big_image
    {
        padding: 60px 24px;
    }


    .case_info .tags
    {
        width: 468px;
    }


    .case_info .section .info
    {
        width: calc(100% - 440px);
    }


    .case_info .section .info.small
    {
        width: 460px;
    }


    .case_info .section .info.middle
    {
        width: calc(100% - 608px);
        margin-right: 0;
    }


    .case_info .section .info .title
    {
        margin-bottom: 20px;
    }


    .case_info .section .info .desc
    {
        line-height: calc(100% + 14px);
    }


    .case_info .section .info.small .desc
    {
        line-height: calc(100% + 10px);
    }


    .case_info .section .quote
    {
        width: 424px;
    }


    .case_info .section .quote .text
    {
        line-height: calc(100% + 10px);
    }


    .case_info .section .image
    {
        width: 380px;
        height: 336px;
    }


    .case_info .section .default_image
    {
        width: 548px;
        margin-top: 48px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .title
    {
        font-size: 34px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding: 100px 0;
    }


    .about_head .data
    {
        width: 612px;
        margin-bottom: 0;
    }


    .about_head .title
    {
        font-size: 56px;
        line-height: calc(100% + 8px);
    }


    .about_head .desc
    {
        margin-top: 24px;

        font-size: 22px;
        line-height: calc(100% + 14px);
    }


    .about_head .exp
    {
        width: 400px;
        padding: 44px 80px 44px 44px;

        font-size: 18px;
        line-height: calc(100% + 12px);
    }



    /*----------------
        About data
    ----------------*/
    .about_data
    {
        padding-top: 120px;
    }


    .about_data .image
    {
        width: 420px;
    }


    .about_data .data
    {
        width: 448px;
        margin-top: -280px;

        gap: 40px;
    }


    .about_data .data .exp
    {
        width: 400px;
        min-height: 280px;
        padding: 40px 80px 40px 40px;

        font-size: 18px;
        line-height: calc(100% + 12px);
    }


    .about_data .stats
    {
        width: 360px;
        margin-top: 48px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .col + .col
    {
        margin-left: 48px;
        padding-left: 48px;
    }


    .why_we .col .title
    {
        font-size: 28px;
    }


    .why_we .col .stats .desc
    {
        margin-top: 4px;

        font-size: 18px;
        line-height: calc(100% + 12px);
    }


    .why_we .col .items
    {
        font-size: 18px;
    }


    .why_we .col .desc
    {
        margin-top: 20px;

        font-size: 18px;
        line-height: calc(100% + 12px);
    }


    .why_we .col .logos_wrap
    {
        margin-top: 44px;
    }


    .why_we .col .logos
    {
        gap: 40px 36px;
    }


    .why_we .col .spoler_btn
    {
        font-size: 18px;
    }



    /*------------------------
        Service industries
    ------------------------*/
    .service_industries .industry,
    .service_industries .action
    {
        padding: 48px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding-block: 160px;
    }


    .error_page .title
    {
        line-height: calc(100% + 12px);
    }


    .error_page .desc
    {
        font-size: 20px;
        line-height: calc(100% + 12px);
    }


    .error_page .links a
    {
        height: 56px;
        padding-inline: 60px;

        font-size: 18px;
    }


    .error_page .code
    {
        padding-block: 124px;
        padding-inline: 124px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head .cont
    {
        height: 540px;
        padding-top: 80px;
    }


    .product_info .head .info
    {
        width: 684px;
    }


    .product_info .head .title
    {
        font-size: 56px;
    }


    .product_info .head .desc
    {
        width: 500px;

        font-size: 20px;
        line-height: calc(100% + 12px);
    }


    .product_info .head .actions
    {
        margin-top: 0;

        font-size: 18px;
        line-height: calc(100% + 16px);

        gap: 24px;
    }


    .product_info .head .actions > *
    {
        width: 180px;
        padding-left: 20px;
    }


    .product_info .head .actions > *.big
    {
        width: 320px;
    }


    .product_info .head .image
    {
        width: 624px;
        margin-top: 0;
        margin-right: -24px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data
    {
        margin-top: 80px;
    }



    .product_data .description .title
    {
        width: 400px;

        font-size: 24px;
        line-height: calc(100% + 12px);
    }


    .product_data .description .text_block
    {
        width: calc(100% - 480px);

        font-size: 22px;
        line-height: calc(100% + 12px);
    }



    .product_data .items
    {
        margin-top: 68px;

        row-gap: 68px;
    }


    .product_data .items .item
    {
        padding-inline: 48px 24px;

        gap: 24px;
    }


    .product_data .items .name
    {
        font-size: 26px;
        line-height: calc(100% + 8px);
    }


    .product_data .items .desc
    {
        font-size: 18px;
    }


    .product_data .items .logos img
    {
        max-width: 140px;
        max-height: 80px;
    }



    /*--------------------------
        Product architecture
    --------------------------*/
    .product_architecture .block_head
    {
        margin-bottom: 48px;
    }


    .product_architecture .icons
    {
        width: 380px;
        height: 360px;
    }


    .product_architecture .data
    {
        width: calc(100% - 460px);

        gap: 24px;
    }


    .product_architecture .item
    {
        font-size: 20px;
        line-height: calc(100% + 12px);
    }


    .product_architecture .image
    {
        height: 440px;
        margin-top: 68px;

        border-radius: 28px;
    }


    .product_architecture .image + .row
    {
        margin-top: 68px;
    }



    /*-----------------------
        Product use cases
    -----------------------*/
    .product_use_cases .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .product_use_cases .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .product_use_cases .item
    {
        padding: 44px 72px 44px 44px;

        border-radius: 20px;

        gap: 24px;
    }


    .product_use_cases .item.radius2
    {
        border-radius: 20px 200px 20px 20px;
    }


    .product_use_cases .item .name
    {
        font-size: 24px;
        line-height: calc(100% + 12px);
    }


    .product_use_cases .item .desc
    {
        font-size: 16px;
        line-height: calc(100% + 12px);
    }



    /*------------------------
        Product advantages
    ------------------------*/
    .product_advantages .block_head
    {
        margin-bottom: 40px;
    }


    .product_advantages .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .product_advantages .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .product_advantages .item
    {
        padding: 44px 72px 44px 44px;

        gap: 24px;
    }


    .product_advantages .item .name
    {
        font-size: 24px;
        line-height: calc(100% + 12px);
    }


    .product_advantages .item .desc
    {
        font-size: 16px;
        line-height: calc(100% + 12px);
    }



    /*---------------------
        Product license
    ---------------------*/
    .product_license .data
    {
        width: calc(100% - 600px);
        padding: 60px 52px 60px 60px;
    }


    .product_license .data .title
    {
        margin-bottom: 24px;

        line-height: calc(100% + 12px);
    }


    .product_license .data .section + .section
    {
        margin-top: 24px;
    }


    .product_license .data .label
    {
        margin-bottom: 20px;

        line-height: calc(100% + 12px);
    }


    .product_license .data .items
    {
        font-size: 14px;
        line-height: calc(100% + 12px);

        gap: 12px;
    }



    .product_license .block_head
    {
        width: 500px;
        margin-right: 20px;
    }



    /*-------------
        Tariffs
    -------------*/
    .tariffs .block_head
    {
        margin-bottom: 40px;
    }


    .tariffs .block_head .desc
    {
        width: 880px;

        font-size: 22px;
        line-height: calc(100% + 12px);
    }


    .tariffs .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .tariffs .row > *
    {
        width: calc(25% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .tariffs .tariff
    {
        border-radius: 40px;
    }


    .tariffs .tariff .name
    {
        padding: 5px 10px;

        font-size: 18px;
    }


    .tariffs .tariff .price
    {
        font-size: 16px;
        line-height: calc(100% + 12px);
    }


    .tariffs .tariff .price span
    {
        line-height: calc(100% + 12px);
    }


    .tariffs .tariff .exp
    {
        padding: 8px 12px;

        font-size: 16px;
        line-height: calc(100% + 12px);
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form
    {
        padding-block: 60px 68px;
    }


    .action_form .block_head
    {
        width: 548px;
    }


    .action_form .block_head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 12px);
    }


    .action_form .form
    {
        width: 700px;
    }
}
