@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .swiper-button-next,
    .swiper-button-prev
    {
        width: 68px;
        height: 10px;
    }


    .swiper-button-prev
    {
        right: 100px;
    }


    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 68px;
        height: 10px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        display: none;
    }


    header .contacts_btn
    {
        margin-left: auto;
    }


    header .langs
    {
        margin-left: auto;
    }


    header .mob_menu_btn
    {
        display: flex;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        font-size: var(--font_size);
        line-height: calc(100% + 8px);
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 722px;
        padding-top: 140px;
        padding-bottom: 60px;
    }


    .main_slider .data,
    .main_slider .data.big
    {
        width: 100%;
    }


    .main_slider .head
    {
        font-size: 15px;

        gap: 16px;
    }


    .main_slider .head .sep
    {
        height: 16px;
    }


    .main_slider .head picture,
    .main_slider .head picture img
    {
        height: 30px;
    }


    .main_slider .title br
    {
        display: none;
    }


    .main_slider .items,
    .main_slider .data.big .items
    {
        width: calc(100% + 24px);
        max-width: calc(100% + 24px);

        font-size: var(--font_size);
    }


    .main_slider .link a
    {
        font-size: var(--font_size);
        line-height: calc(100% + 4px);
    }


    .main_slider .message
    {
        width: calc(100% - 168px);
        min-height: 0;
        margin-top: 40px;
        margin-bottom: 0;
        padding: 24px 48px 24px 24px;
    }


    .main_slider .message br
    {
        display: none;
    }


    .main_slider .swiper-button-next
    {
        width: 120px;
        height: 74px;

        border-width: 1px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 24px -24px 0;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .clients .logos::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .clients .logos::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .clients .logos picture
    {
        display: inline-block;

        max-width: none;
        height: 68px;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }


    .clients .logos picture + picture
    {
        margin-left: 36px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .head .title + *
    {
        width: calc(100% - 320px);

        gap: 24px;
    }


    .cases .head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 8px);
    }


    .cases .block_head .title br
    {
        display: none;
    }


    .cases .swiper.small
    {
        padding-bottom: 20px;
    }


    .cases .swiper-button-next,
    .cases .swiper-button-prev
    {
        bottom: -64px;
    }


    .cases .list .case .image
    {
        margin-bottom: 20px;
    }


    .cases .list .case .info
    {
        order: 2;

        width: 100%;
    }


    .cases .list .case .industry
    {
        margin-top: 24px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .articles .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .articles .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .articles .row > *,
    .articles .row > *.big
    {
        display: inline-block;

        width: 280px;
        max-width: none;
        min-height: 300px;
        margin: 0;

        vertical-align: top;
        white-space: normal;

        border-radius: 20px;

        scroll-snap-align: start;
    }


    .articles .row > * + *
    {
        margin-left: 20px;
    }


    .articles .article
    {
        position: relative;

        padding: 24px 24px 96px;
    }


    .articles .article .title
    {
        font-size: 18px;
    }


    .articles .article .arrow .icon
    {
        width: 68px;
        height: 10px;
    }


    .articles .article .author
    {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        margin: 0;
        padding: 24px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .partners .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .partners .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .partners .row picture
    {
        display: inline-block;

        max-width: 200px;
        height: 68px;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }


    .partners .row picture + picture
    {
        margin-left: 56px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .block_head
    {
        margin-bottom: 124px;
    }


    .contacts_info .image
    {
        top: -24px;

        width: calc(100% - 240px);
    }


    .contacts_info .row
    {
        margin-bottom: -40px;
        margin-left: -24px;

        gap: 0;
    }


    .contacts_info .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .contacts_info .item
    {
        font-size: 15px;
    }


    .contacts_info .item .name
    {
        font-size: 18px;
    }


    .contacts_info .item .address
    {
        margin-top: 20px;
    }


    .contacts_info .item .phone,
    .contacts_info .item .email
    {
        font-size: var(--font_size);
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .head
    {
        margin-bottom: 60px;
    }


    .case_info .head .desc
    {
        font-size: 16px;
    }


    .case_info .stats
    {
        font-size: 14px;
    }


    .case_info .stats .sep
    {
        height: 52px;
    }


    .case_info .stats .val
    {
        font-size: 26px;
    }


    .case_info .tags
    {
        width: 100%;
    }


    .case_info .tags > *
    {
        padding: 10px 20px;

        font-size: 14px;
        line-height: 20px;
    }


    .case_info .section
    {
        margin-top: 40px;
    }

    .case_info .section + .section
    {
        padding-top: 40px;
    }


    .case_info .section .tags
    {
        order: 4;

        margin-top: 24px;
    }


    .case_info .section .info,
    .case_info .section .info.middle,
    .case_info .section .info.small
    {
        width: 100%;
        margin-top: 24px;
    }


    .case_info .section .tags + .info,
    .case_info .section .quote + .info
    {
        margin-top: 0;
    }


    .case_info .section .logo img
    {
        max-height: 44px;
    }



    .case_info .section .quote
    {
        order: 3;

        width: 100%;
        margin-top: 40px;
    }


    .case_info .section .quote .icon
    {
        width: 80px;
    }


    .case_info .section .image
    {
        width: 280px;
        height: 252px;
    }


    .case_info .section .default_image
    {
        width: 100%;
        margin-top: 0;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 28px 0;
    }


    .action_block .cont
    {
        gap: 24px 48px;
    }


    .action_block .title
    {
        font-size: 26px;
    }


    .action_block .btn
    {
        height: 48px;
        padding: 0 28px;

        font-size: 17px;
    }



    /*---------------
        Service info
    ---------------*/
    .service_info .head .title
    {
        width: 100%;
    }


    .service_info .head .title + *
    {
        width: 100%;
        margin-top: 12px;

        gap: 32px;
    }


    .service_info .head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 10px);
    }


    .service_info .stats
    {
        gap: 60px;
    }


    .service_info .stats .val
    {
        font-size: 32px;
    }



    /*------------------------
        Service industries
    ------------------------*/
    .service_industries .row > *
    {
        width: calc(50% - 24px);
    }


    .service_industries .industry
    {
        padding: 24px;
    }



    .service_industries .action
    {
        justify-content: center;

        width: calc(100% - 24px);
        padding: 40px;

        text-align: center;
    }


    .service_industries .action .btn
    {
        height: 48px;
        margin-top: 20px;

        font-size: 16px;
    }



    /*------------------
        Service data
    ------------------*/
    .service_data .expertise
    {
        width: 100%;
    }


    .service_data .expertise .items
    {
        font-size: 15px;
    }


    .service_data .expertise.full_w .items
    {
        margin-bottom: -24px;
    }


    .service_data .expertise.full_w .col
    {
        width: calc(50% - 24px);
        margin-bottom: 24px;
    }



    .service_data .team
    {
        width: 100%;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding: 60px 0;
    }


    .about_head .data
    {
        width: 50%;
    }


    .about_head .title
    {
        font-size: 40px;
    }


    .about_head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 8px);
    }


    .about_head .message
    {
        width: 100%;

        font-size: 15px;
        line-height: calc(100% + 8px);
    }


    .about_head .message:before
    {
        height: calc(100% - 8px);
    }


    .about_head .exp
    {
        width: 280px;
        padding: 24px 48px 24px 24px;

        font-size: 14px;
    }



    /*----------------
        About data
    ----------------*/
    .about_data
    {
        margin-bottom: 68px;
        padding-top: 68px;
    }


    .about_data .image
    {
        width: 280px;
    }


    .about_data .data
    {
        width: calc(100% - 328px);
        margin-top: 0;

        gap: 20px;
    }


    .about_data .data .exp
    {
        width: 100%;
        min-height: 154px;
        padding: 24px 60px 24px 24px;

        font-size: 15px;
    }


    .about_data .data .desc
    {
        font-size: 16px;
    }


    .about_data .stats
    {
        width: 280px;
        margin-top: -54px;

        gap: 4px;
    }


    .about_data .stats .val
    {
        font-size: 26px;
    }


    .about_data .stats .desc
    {
        height: calc(100% - 8px);

        font-size: 15px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .row
    {
        flex-wrap: wrap;

        padding: 0;
    }


    .why_we .col
    {
        width: 100%;
    }


    .why_we .col + .col
    {
        margin-top: 24px;
        margin-left: 0;
        padding-top: 24px;
        padding-left: 0;
    }


    .why_we .col + .col:before
    {
        bottom: auto;

        width: 100%;
        height: 1px;
        margin: 0;
    }


    .why_we .col .stats
    {
        margin-top: 24px;
    }


    .why_we .col .stats .val
    {
        font-size: 26px;
    }


    .why_we .col .stats .desc
    {
        height: calc(100% - 8px);

        font-size: 15px;
    }


    .why_we .col .items
    {
        margin-top: 24px;

        font-size: 16px;

        gap: 8px;
    }


    .why_we .col .logos_wrap
    {
        height: 52px;
    }


    .why_we .col .logos picture
    {
        max-width: 128px;
        height: 52px;
    }


    .why_we .col .spoler_btn
    {
        font-size: 15px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        margin-bottom: 40px;
    }


    .article_info .head .data
    {
        order: 2;

        width: 100%;
        margin-top: 28px;
    }


    .article_info .image
    {
        width: 285px;
    }



    /*-------------------
        Services head
    -------------------*/
    .services_head .image
    {
        width: 300px;
    }


    .services_head .info
    {
        width: calc(100% - 324px);
    }


    .services_head .block_head
    {
        margin-bottom: 24px;
    }


    .services_head .section + .section
    {
        margin-top: 60px;
    }


    .services_head .item
    {
        width: calc(50% - 24px);
        padding: 27px;
    }


    .services_head .item:nth-child(3)
    {
        width: calc(100% - 24px);
        padding: 120px 56px 28px 28px;

        border-radius: 20px 190px 190px 20px;
    }


    .services_head .item:nth-child(2)
    {
        padding-bottom: 27px;
    }



    /*------------------
        Our services
    ------------------*/
    .our_services .tabs .btn
    {
        font-size: 18px;
    }


    .our_services .image
    {
        width: 300px;
        min-height: 0;
        margin-left: 0;
    }


    .our_services .data
    {
        order: 2;

        width: 100%;
        margin-top: 40px;
    }


    .our_services .link
    {
        margin-top: 30px;
    }


    .our_services .link .btn
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-------------
        Why we2
    -------------*/
    .why_we2 .block_head
    {
        width: 300px;
    }


    .why_we2 .data
    {
        width: calc(100% - 324px);
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding-block: 80px;
    }


    .error_page .data
    {
        width: 75%;

        gap: 32px;
    }


    .error_page .code
    {
        display: none;

        width: 100%;
    }


    .error_page .code.mob
    {
        display: flex;
    }



    /*-----------
        Products
    -----------*/
    .products .head .title + *
    {
        width: calc(100% - 320px);

        gap: 24px;
    }


    .products .head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 8px);
    }



    .products .product
    {
        padding-inline: 28px;
    }


    .products .product .icon
    {
        right: 28px;

        width: 52px;
    }


    .products .product .name
    {
        width: calc(100% - 76px);

        font-size: 22px;
    }


    .products .product .desc
    {
        width: calc(100% - 76px);
    }


    .products .product .tags > *
    {
        padding-inline: 16px;

        font-size: 13px;
        line-height: 26px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head:before
    {
        width: 100%;
        height: 100%;

        z-index: 2;

        background: linear-gradient(180deg, rgba(255, 255, 255, .00) -111.9%, #39439e 65.45%);
    }


    .product_info .head .cont
    {
        position: static;

        height: auto;
        padding-top: 0;
        padding-bottom: 68px;

        z-index: 0;
    }


    .product_info .head .info
    {
        position: relative;

        order: 2;

        width: 100%;

        z-index: 3;
    }


    .product_info .head .desc
    {
        width: 400px;
    }


    .product_info .head .actions > *.big
    {
        width: 160px;
    }


    .product_info .head .image
    {
        position: relative;

        width: 640px;
        max-width: 100%;
        margin-inline: auto;
        margin-bottom: -28%;

        z-index: 1;
    }



    /*---------------------
        Product anchors
    ---------------------*/
    .product_anchors .cont
    {
        gap: 12px;
    }


    .product_anchors .btn
    {
        font-size: 15px;
    }


    .product_anchors .contacts_btn
    {
        margin-left: 12px;
        padding-inline: 24px;

        font-size: 15px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .description .title
    {
        width: 100%;
        margin-bottom: 20px;
    }


    .product_data .description .text_block
    {
        width: 100%;

        font-size: 15px;
    }



    .product_data .items
    {
        row-gap: 48px;
    }


    .product_data .items .item
    {
        width: 50%;
        padding-inline: 32px;
    }



    /*--------------------------
        Product architecture
    --------------------------*/
    .product_architecture .icons
    {
        width: 240px;
        height: 220px;
        padding: 40px 40px 24px 24px;
    }


    .product_architecture .icons .icon
    {
        height: 48px;
    }


    .product_architecture .data
    {
        width: calc(100% - 288px);
    }


    .product_architecture .item
    {
        font-size: 15px;
    }



    .product_architecture .image
    {
        height: 360px;
    }



    /*-----------------------
        Product use cases
    -----------------------*/
    .product_use_cases .row > *
    {
        width: calc(50% - 24px);
    }



    /*------------------------
        Product advantages
    ------------------------*/
    .product_advantages .row > *
    {
        width: calc(50% - 24px);
    }



    /*---------------------
        Product license
    ---------------------*/
    .product_license .data
    {
        order: 2;

        width: 100%;
        padding: 40px;
    }



    .product_license .block_head
    {
        width: 100%;
        margin-bottom: 32px;
    }


    .product_license .block_head .desc
    {
        gap: 12px;
    }



    /*-------------
        Tariffs
    -------------*/
    .tariffs .block_head .desc
    {
        width: 100%;
    }


    .tariffs .row > *
    {
        width: calc(50% - 24px);
    }


    .tariffs .tariff
    {
        padding: 8px 20px 20px;
    }


    .tariffs .tariff .exp
    {
        padding: 8px 16px;

        font-size: 14px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .block_head
    {
        width: 100%;
    }


    .action_form .form
    {
        width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer .menu
    {
        margin-left: auto;
    }


    footer .bottom
    {
        width: 100%;
        padding-left: 0;
    }
}
