@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .swiper-button-next,
    .swiper-button-prev
    {
        width: 68px;
        height: 10px;
    }


    .swiper-button-prev
    {
        right: 100px;
    }


    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 68px;
        height: 10px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        display: none;
    }


    header .contacts_btn
    {
        margin-left: auto;
    }


    header .langs
    {
        margin-left: auto;
    }


    header .mob_menu_btn
    {
        display: flex;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        font-size: var(--font_size);
        line-height: calc(100% + 8px);
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 722px;
        padding-top: 140px;
        padding-bottom: 60px;
    }


    .main_slider .data,
    .main_slider .data.big
    {
        width: 100%;
    }


    .main_slider .head
    {
        font-size: 15px;

        gap: 16px;
    }


    .main_slider .head .sep
    {
        height: 16px;
    }


    .main_slider .head picture,
    .main_slider .head picture img
    {
        height: 30px;
    }


    .main_slider .title br
    {
        display: none;
    }


    .main_slider .items,
    .main_slider .data.big .items
    {
        font-size: var(--font_size);

        width: calc(100% + 24px);
        max-width: calc(100% + 24px);
    }


    .main_slider .link a
    {
        font-size: var(--font_size);
        line-height: calc(100% + 4px);
    }


    .main_slider .message
    {
        width: calc(100% - 168px);
        min-height: 0;
        margin-top: 40px;
        margin-bottom: 0;
        padding: 24px 48px 24px 24px;
    }


    .main_slider .message br
    {
        display: none;
    }


    .main_slider .swiper-button-next
    {
        width: 120px;
        height: 74px;

        border-width: 1px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 24px -24px 0;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .clients .logos::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .clients .logos::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .clients .logos picture
    {
        display: inline-block;

        max-width: none;
        height: 68px;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }


    .clients .logos picture + picture
    {
        margin-left: 36px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .head .title + *
    {
        width: calc(100% - 320px);

        gap: 24px;
    }


    .cases .head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 8px);
    }


    .cases .block_head .title br
    {
        display: none;
    }


    .cases .swiper.small
    {
        padding-bottom: 20px;
    }


    .cases .swiper-button-next,
    .cases .swiper-button-prev
    {
        bottom: -64px;
    }


    .cases .list .case .image
    {
        margin-bottom: 20px;
    }


    .cases .list .case .info
    {
        order: 2;

        width: 100%;
    }


    .cases .list .case .industry
    {
        margin-top: 24px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .articles .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .articles .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .articles .row > *,
    .articles .row > *.big
    {
        display: inline-block;

        width: 280px;
        max-width: none;
        min-height: 300px;
        margin: 0;

        vertical-align: top;
        white-space: normal;

        border-radius: 20px;

        scroll-snap-align: start;
    }


    .articles .row > * + *
    {
        margin-left: 20px;
    }


    .articles .article
    {
        position: relative;

        padding: 24px 24px 96px;
    }


    .articles .article .title
    {
        font-size: 18px;
    }


    .articles .article .arrow .icon
    {
        width: 68px;
        height: 10px;
    }


    .articles .article .author
    {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        margin: 0;
        padding: 24px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .partners .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .partners .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .partners .row picture
    {
        display: inline-block;

        max-width: 200px;
        height: 68px;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }


    .partners .row picture + picture
    {
        margin-left: 56px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .block_head
    {
        margin-bottom: 124px;
    }


    .contacts_info .image
    {
        top: -24px;

        width: calc(100% - 240px);
    }


    .contacts_info .row
    {
        margin-bottom: -40px;
        margin-left: -24px;

        gap: 0;
    }


    .contacts_info .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .contacts_info .item
    {
        font-size: 15px;
    }


    .contacts_info .item .name
    {
        font-size: 18px;
    }


    .contacts_info .item .address
    {
        margin-top: 20px;
    }


    .contacts_info .item .phone,
    .contacts_info .item .email
    {
        font-size: var(--font_size);
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .head
    {
        margin-bottom: 60px;
    }


    .case_info .head .desc
    {
        font-size: 16px;
    }


    .case_info .stats
    {
        font-size: 14px;
    }


    .case_info .stats .sep
    {
        height: 52px;
    }


    .case_info .stats .val
    {
        font-size: 26px;
    }


    .case_info .tags
    {
        width: 100%;
    }


    .case_info .tags > *
    {
        font-size: 14px;
        line-height: 20px;

        padding: 10px 20px;
    }


    .case_info .section
    {
        margin-top: 40px;
    }

    .case_info .section + .section
    {
        padding-top: 40px;
    }


    .case_info .section .info,
    .case_info .section .info.middle,
    .case_info .section .info.small
    {
        order: 2;

        width: 100%;
        margin-top: 24px;
    }


    .case_info .section .quote + .info
    {
        margin-top: 0;
    }



    .case_info .section .quote
    {
        order: 3;

        width: 100%;
        margin-top: 40px;
    }


    .case_info .section .quote .icon
    {
        width: 80px;
    }


    .case_info .section .image
    {
        width: 280px;
        height: 252px;
    }


    .case_info .section .default_image
    {
        width: 100%;
        margin-top: 0;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 28px 0;
    }


    .action_block .cont
    {
        gap: 24px 48px;
    }


    .action_block .title
    {
        font-size: 26px;
    }


    .action_block .btn
    {
        font-size: 17px;

        height: 48px;
        padding: 0 28px;
    }



    /*---------------
        Service info
    ---------------*/
    .service_info .head .title
    {
        width: 100%;
    }


    .service_info .head .title + *
    {
        width: 100%;
        margin-top: 12px;

        gap: 32px;
    }


    .service_info .head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 10px);
    }


    .service_info .stats
    {
        gap: 60px;
    }


    .service_info .stats .val
    {
        font-size: 32px;
    }



    /*------------------------
        Service industries
    ------------------------*/
    .service_industries .row > *
    {
        width: calc(50% - 24px);
    }


    .service_industries .industry
    {
        padding: 24px;
    }



    .service_industries .action
    {
        justify-content: center;

        width: calc(100% - 24px);
        padding: 40px;

        text-align: center;
    }


    .service_industries .action .btn
    {
        font-size: 16px;

        height: 48px;
        margin-top: 20px;
    }



    /*------------------
        Service data
    ------------------*/
    .service_data .expertise
    {
        width: 100%;
    }


    .service_data .expertise .items
    {
        font-size: 15px;
    }


    .service_data .expertise.full_w .items
    {
        margin-bottom: -24px;
    }


    .service_data .expertise.full_w .col
    {
        width: calc(50% - 24px);
        margin-bottom: 24px;
    }



    .service_data .team
    {
        width: 100%;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding: 60px 0;
    }


    .about_head .data
    {
        width: 50%;
    }


    .about_head .title
    {
        font-size: 40px;
    }


    .about_head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 8px);
    }


    .about_head .message
    {
        font-size: 15px;
        line-height: calc(100% + 8px);

        width: 100%;
    }


    .about_head .message:before
    {
        height: calc(100% - 8px);
    }


    .about_head .exp
    {
        font-size: 14px;

        width: 280px;
        padding: 24px 48px 24px 24px;
    }



    /*----------------
        About data
    ----------------*/
    .about_data
    {
        margin-bottom: 68px;
        padding-top: 68px;
    }


    .about_data .image
    {
        width: 280px;
    }


    .about_data .data
    {
        width: calc(100% - 328px);
        margin-top: 0;

        gap: 20px;
    }


    .about_data .data .exp
    {
        font-size: 15px;

        width: 100%;
        min-height: 154px;
        padding: 24px 60px 24px 24px;
    }


    .about_data .data .desc
    {
        font-size: 16px;
    }


    .about_data .stats
    {
        width: 280px;
        margin-top: -54px;

        gap: 4px;
    }


    .about_data .stats .val
    {
        font-size: 26px;
    }


    .about_data .stats .desc
    {
        font-size: 15px;

        height: calc(100% - 8px);
    }



    /*------------
        Why we
    ------------*/
    .why_we .row
    {
        flex-wrap: wrap;

        padding: 0;
    }


    .why_we .col
    {
        width: 100%;
    }


    .why_we .col + .col
    {
        margin-top: 24px;
        margin-left: 0;
        padding-top: 24px;
        padding-left: 0;
    }


    .why_we .col + .col:before
    {
        bottom: auto;

        width: 100%;
        height: 1px;
        margin: 0;
    }


    .why_we .col .stats
    {
        margin-top: 24px;
    }


    .why_we .col .stats .val
    {
        font-size: 26px;
    }


    .why_we .col .stats .desc
    {
        font-size: 15px;

        height: calc(100% - 8px);
    }


    .why_we .col .items
    {
        font-size: 16px;

        margin-top: 24px;

        gap: 8px;
    }


    .why_we .col .logos picture
    {
        max-width: 128px;
        height: 52px;
    }


    .why_we .col .logos .all_link
    {
        font-size: 15px;

        height: calc(100% - 8px);
        margin-top: 0;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        margin-bottom: 40px;
    }


    .article_info .head .data
    {
        order: 2;

        width: 100%;
        margin-top: 28px;
    }


    .article_info .image
    {
        width: 285px;
    }



    /*------------
        Footer
    ------------*/
    footer .menu
    {
        margin-left: auto;
    }
}
