@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
        --font_size_title_big: 32px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        width: 60px;
        height: 9px;
    }


    .swiper-button-prev
    {
        right: 72px;
    }


    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 60px;
        height: 9px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        width: 145px;
        height: 30px;
    }


    header .langs .btn span:first-child
    {
        display: none;
    }


    header .langs .btn span + span
    {
        margin-left: 0;
    }


    header .langs .mini_modal
    {
        width: 102px;
    }


    header .langs .mini_modal .btn
    {
        padding: 8px 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block ul.columns
    {
        column-gap: 0;
        column-count: 1;
    }


    .text_block ul.columns > * + *
    {
        margin-top: 12px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 685px;
        padding-top: 108px;
    }


    .main_slider .desc
    {
        font-size: 14px;
    }


    .main_slider .link a
    {
        width: 100%;

        text-align: center;
    }


    .main_slider .items,
    .main_slider .data.big .items
    {
        font-size: 14px;

        width: 100%;
        max-width: 100%;
        margin-top: 28px;
        margin-bottom: -12px;
        margin-left: 0;
    }


    .main_slider .items > *,
    .main_slider .data.big .items > *
    {
        width: 100%;
        margin-bottom: 12px;
        margin-left: 0;
    }


    .main_slider .data .items br
    {
        display: none;
    }


    .main_slider .message
    {
        font-size: 14px;

        margin-top: 28px;
        padding: 16px 24px 16px 0;
    }



    /*----------------
        Industries
    ----------------*/
    .industries .info
    {
        padding: 28px 40px 28px 24px;
    }


    .industries .info .name
    {
        font-size: 26px;
    }


    .industries .info .stats .val
    {
        font-size: 22px;
        line-height: 28px;
    }


    .industries .info .stats > *:before
    {
        height: calc(100% - 8px);
    }


    .industries .image
    {
        min-height: 288px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos picture
    {
        height: 48px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .filter
    {
        flex-direction: column;

        gap: 0;
    }


    .cases .filter .nice-select .current,
    .cases .filter .nice-select .list .option
    {
        font-size: 16px;
    }



    .cases .case .image,
    .cases .list .case .image,
    .cases .list .case .image.left
    {
        width: 180px;
        height: 160px;

        border-radius: 28px 600px 28px 28px;
    }


    .cases .case .name
    {
        font-size: 26px;
    }


    .cases .case .tags
    {
        gap: 8px;
    }


    .cases .mob_link a
    {
        padding: 16px 32px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .image
    {
        top: 28px;
    }


    .contacts_info .row
    {
        margin-left: 0;
    }


    .contacts_info .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .contacts_info .item .address
    {
        margin-top: 16px;
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .head
    {
        margin-bottom: 40px;
    }


    .case_info .head .desc
    {
        font-size: 14px;
    }



    .case_info .stats
    {
        gap: 16px;
    }


    .case_info .stats > *:not(.sep)
    {
        width: 100%;
    }


    .case_info .stats .sep
    {
        width: 100%;
        height: 1px;
    }


    .case_info .stats .val
    {
        font-size: 22px;
    }



    .case_info .tags
    {
        gap: 8px;
    }



    /*---------------
        Service info
    ---------------*/
    .service_info .head .desc
    {
        font-size: 14px;
    }


    .service_info .stats .val
    {
        font-size: 26px;
    }



    /*------------------------
        Service industries
    ------------------------*/
    .service_industries .industry .name
    {
        font-size: 18px;
    }



    .service_industries .action
    {
        font-size: 22px;
    }


    .service_industries .action .btn
    {
        font-size: 15px;
    }



    /*------------------
        Service data
    ------------------*/
    .service_data .expertise .items
    {
        margin-bottom: -12px;
        margin-left: 0;
    }


    .service_data .expertise .col
    {
        width: 100%;
        margin-bottom: 12px;
        margin-left: 0;

        gap: 12px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row picture
    {
        max-width: 180px;
        height: 60px;
    }


    .partners .row picture + picture
    {
        margin-left: 44px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .col .logos
    {
        gap: 24px 40px;
    }
}
