@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .swiper-button-next,
    .swiper-button-prev
    {
        width: 68px;
        height: 10px;
    }


    .swiper-button-prev
    {
        right: 100px;
    }


    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 68px;
        height: 10px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        display: none;
    }


    header .contacts_link
    {
        margin-left: auto;
    }


    header .langs
    {
        margin-left: auto;
    }


    header .mob_menu_btn
    {
        display: flex;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        font-size: var(--font_size);
        line-height: calc(100% + 8px);
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 722px;
        padding-top: 140px;
        padding-bottom: 60px;
    }


    .main_slider .data,
    .main_slider .data.big
    {
        width: 100%;
    }


    .main_slider .head
    {
        font-size: 15px;

        gap: 16px;
    }


    .main_slider .head .sep
    {
        height: 16px;
    }


    .main_slider .head picture,
    .main_slider .head picture img
    {
        height: 30px;
    }


    .main_slider .title br
    {
        display: none;
    }


    .main_slider .items,
    .main_slider .data.big .items
    {
        font-size: var(--font_size);

        width: calc(100% + 24px);
        max-width: calc(100% + 24px);
    }


    .main_slider .link a
    {
        font-size: var(--font_size);
        line-height: calc(100% + 4px);
    }


    .main_slider .message
    {
        width: calc(100% - 168px);
        min-height: 0;
        margin-top: 40px;
        margin-bottom: 0;
        padding: 24px 48px 24px 24px;
    }


    .main_slider .message br
    {
        display: none;
    }


    .main_slider .swiper-button-next
    {
        width: 120px;
        height: 74px;

        border-width: 1px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 24px -24px 0;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .clients .logos::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .clients .logos::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .clients .logos picture
    {
        display: inline-block;

        max-width: none;
        height: 68px;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }


    .clients .logos picture + picture
    {
        margin-left: 36px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .head .title + *
    {
        width: calc(100% - 320px);

        gap: 24px;
    }


    .cases .head .desc
    {
        font-size: 16px;
        line-height: calc(100% + 8px);
    }


    .cases .block_head .title br
    {
        display: none;
    }


    .cases .swiper-button-next,
    .cases .swiper-button-prev
    {
        bottom: -64px;
    }


    .cases .list .case .image
    {
        margin-bottom: 20px;
    }


    .cases .list .case .info
    {
        order: 2;

        width: 100%;
    }


    .cases .list .case .industry
    {
        margin-top: 24px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .articles .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .articles .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .articles .row > *,
    .articles .row > *.big
    {
        display: inline-block;

        width: 280px;
        max-width: none;
        min-height: 300px;
        margin: 0;

        vertical-align: top;
        white-space: normal;

        border-radius: 20px;

        scroll-snap-align: start;
    }


    .articles .row > * + *
    {
        margin-left: 20px;
    }


    .articles .article
    {
        position: relative;

        padding: 24px 24px 96px;
    }


    .articles .article .title
    {
        font-size: 18px;
    }


    .articles .article .arrow .icon
    {
        width: 68px;
        height: 10px;
    }


    .articles .article .author
    {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        margin: 0;
        padding: 24px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .partners .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .partners .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .partners .row picture
    {
        display: inline-block;

        max-width: none;
        height: 52px;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }


    .partners .row picture + picture
    {
        margin-left: 68px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .block_head
    {
        margin-bottom: 124px;
    }


    .contacts_info .image
    {
        top: -24px;

        width: calc(100% - 240px);
    }


    .contacts_info .row
    {
        margin-bottom: -40px;
        margin-left: -24px;

        gap: 0;
    }


    .contacts_info .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .contacts_info .item
    {
        font-size: 15px;
    }


    .contacts_info .item .name
    {
        font-size: 18px;
    }


    .contacts_info .item .address
    {
        margin-top: 20px;
    }


    .contacts_info .item .phone,
    .contacts_info .item .email
    {
        font-size: var(--font_size);
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .head
    {
        margin-bottom: 60px;
    }


    .case_info .head .desc
    {
        font-size: 16px;
    }


    .case_info .stats
    {
        font-size: 14px;
    }


    .case_info .stats .sep
    {
        height: 52px;
    }


    .case_info .stats .val
    {
        font-size: 26px;
    }


    .case_info .tags
    {
        width: 100%;
    }


    .case_info .tags > *
    {
        font-size: 14px;
        line-height: 20px;

        padding: 10px 20px;
    }


    .case_info .section
    {
        margin-top: 40px;
    }

    .case_info .section + .section
    {
        padding-top: 40px;
    }


    .case_info .section .info,
    .case_info .section .info.middle,
    .case_info .section .info.small
    {
        order: 2;

        width: 100%;
        margin-top: 24px;
    }


    .case_info .section .quote + .info
    {
        margin-top: 0;
    }



    .case_info .section .quote
    {
        order: 3;

        width: 100%;
        margin-top: 40px;
    }


    .case_info .section .quote .icon
    {
        width: 80px;
    }


    .case_info .section .image
    {
        width: 280px;
        height: 252px;
    }


    .case_info .section .default_image
    {
        width: 100%;
        margin-top: 0;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 28px 0;
    }


    .action_block .cont
    {
        gap: 24px 48px;
    }


    .action_block .title
    {
        font-size: 26px;
    }


    .action_block .btn
    {
        font-size: 17px;

        height: 48px;
        padding: 0 28px;
    }



    /*------------
        Footer
    ------------*/
    footer .menu
    {
        margin-left: auto;
    }
}
