@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 40px;
        --font_size_title_big: 48px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .block
    {
        margin-bottom: 72px;
    }

    .block.small_m
    {
        margin-bottom: 48px;
    }

    .block.middle_m
    {
        margin-bottom: 60px;
    }

    .block.middle_m2
    {
        margin-bottom: 64px;
    }


    .cont
    {
        padding: 0 24px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        width: 180px;
        height: 37px;
    }



    header .menu
    {
        gap: 32px;
    }



    header .contacts_btn
    {
        padding: 11px 23px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 32px;

        gap: 24px;
    }


    .block_head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .block_head .link .btn
    {
        font-size: 17px;
        line-height: 21px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block ul li
    {
        padding-left: 16px;
    }


    .text_block ul li:before
    {
        width: 5px;
        height: 5px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .row
    {
        padding-top: 16px;
    }


    .form .input
    {
        height: 52px;

        font-size: 16px;
    }


    .form textarea
    {
        height: 92px;

        font-size: 16px;
    }


    .form .submit_btn
    {
        height: 52px;

        font-size: 16px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .data.big
    {
        width: calc(100% - 248px);
    }


    .main_slider .head
    {
        font-size: 16px;
    }


    .main_slider .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .main_slider .link a
    {
        padding: 11px 39px;

        font-size: 17px;
        line-height: 21px;
    }


    .main_slider .items
    {
        width: 476px;

        font-size: 17px;
    }


    .main_slider .data.big .items
    {
        width: 724px;
        margin-top: 40px;
    }


    .main_slider .message
    {
        width: 200px;
        min-height: 160px;
        margin-right: 0;
        margin-bottom: 124px;

        line-height: calc(100% + 10px);
    }


    .main_slider .swiper-button-next
    {
        right: 24px;

        width: 200px;
        height: 100px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_head
    {
        width: 100%;
        margin-bottom: 32px;
    }


    .about_info .block_head .title br
    {
        display: none;
    }


    .about_info .block_head .desc
    {
        width: 100%;
    }


    .about_info .block_head .link
    {
        display: none;
    }



    .about_info .industries
    {
        width: 100%;
    }



    .about_info .mob_link
    {
        display: block;
    }



    /*----------------
        Industries
    ----------------*/
    .industries
    {
        gap: 24px;
    }


    .industries .info
    {
        width: calc(100% - 308px);
    }


    .industries .image
    {
        width: 260px;
        min-height: 228px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .head .title + *
    {
        width: calc(100% - 400px);

        gap: 32px;
    }


    .cases .head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .cases .filter
    {
        gap: 24px 80px;
    }


    .cases .filter .nice-select .current
    {
        height: 40px;

        font-size: 17px;
        line-height: 40px;
    }


    .cases .filter .nice-select-dropdown
    {
        top: -4px;

        width: 220px;
    }


    .cases .filter .nice-select .list .option
    {
        font-size: 17px;
    }


    .cases .swiper,
    .cases .swiper.small
    {
        order: 2;

        width: 100%;
        padding-bottom: 0;
    }


    .cases .swiper-button-next,
    .cases .swiper-button-prev
    {
        bottom: -66px;
    }


    .cases .swiper.small
    {
        padding-bottom: 24px;
    }


    .cases .swiper.small .swiper-button-next,
    .cases .swiper.small .swiper-button-prev
    {
        bottom: -16px;
    }


    .cases .case
    {
        padding: 40px;
    }


    .cases .case .image
    {
        width: 200px;
        height: 180px;

        border-radius: 28px 900px 28px 28px;
    }


    .cases .case .image.left
    {
        border-radius: 28px 900px 900px 28px;
    }


    .cases .case .info
    {
        width: calc(100% - 248px);
    }


    .cases .case .name
    {
        width: 344px;

        font-size: 36px;
        line-height: calc(100% + 8px);
    }


    .cases .case .industry
    {
        font-size: 14px;
        line-height: 20px;
    }


    .cases .case .tags
    {
        width: calc(100% - 248px);
        max-width: calc(100% - 248px);

        gap: 12px;
    }


    .cases .case .tags > *
    {
        padding: 8px 20px;

        font-size: 14px;
        line-height: 20px;
    }


    .cases .case .stats
    {
        font-size: 14px;

        gap: 32px;
    }


    .cases .case .stats > *:not(.sep)
    {
        min-width: 200px;
    }


    .cases .case .stats .val
    {
        margin-bottom: 0;

        font-size: 28px;
        line-height: 40px;
    }


    .cases .case .stats .sep
    {
        height: 68px;
    }


    .cases .block_head,
    .cases .block_head.big_w
    {
        width: 100%;
        margin-top: 0;
        margin-bottom: 32px;
    }


    .cases .block_head .desc
    {
        width: 100%;
    }


    .cases .block_head .link
    {
        display: none;
    }


    .cases .list
    {
        gap: 40px;
    }


    .cases .list .case .info
    {
        width: calc(100% - 320px);
    }


    .cases .list .case .name
    {
        width: 600px;
    }


    .cases .list .case .tags
    {
        width: 100%;
    }


    .cases .list .case .image,
    .cases .list .case .image.left
    {
        width: 280px;
        height: 240px;
    }


    .cases .mob_link
    {
        display: block;
    }



    .cases .more
    {
        margin-top: 40px;
    }


    .cases .more .btn
    {
        font-size: 17px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row > *
    {
        width: 280px;
    }


    .articles .row > *.big
    {
        width: calc(100% - 632px);
    }


    .articles .article
    {
        padding: 32px 24px;
    }


    .articles .article .title
    {
        font-size: 20px;
    }


    .articles .article.big
    {
        padding: 32px 24px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row
    {
        gap: 24px 40px;
    }


    .partners picture
    {
        max-width: 156px;
        height: 60px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        padding-top: 60px;
        padding-bottom: 48px;
    }


    .contacts_info .block_head
    {
        margin-bottom: 148px;
    }


    .contacts_info .image
    {
        top: -24px;

        width: 640px;
    }


    .contacts_info .row
    {
        gap: 40px 60px;
    }


    .contacts_info .item
    {
        font-size: 16px;
    }


    .contacts_info .item .name
    {
        font-size: 19px;
    }


    .contacts_info .item .address
    {
        margin-top: 32px;
    }


    .contacts_info .item .phone,
    .contacts_info .item .email
    {
        font-size: 18px;
    }



    /*---------------
        Case info
    ---------------*/
    .case_info .head .title
    {
        width: 100%;

        line-height: calc(100% + 8px);
    }


    .case_info .head .title + *
    {
        width: 100%;
        margin-top: 24px;
    }


    .case_info .head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }



    .case_info .big_image
    {
        padding: 48px 24px;
    }



    .case_info .section .tags
    {
        order: 2;
    }


    .case_info .section .info
    {
        order: 3;

        width: calc(100% - 320px);
    }


    .case_info .section .info.small
    {
        width: calc(100% - 508px);
    }


    .case_info .section .info.middle
    {
        width: calc(100% - 480px);
    }


    .case_info .section .info .desc
    {
        line-height: calc(100% + 10px);
    }

    .case_info .section .info.small .desc
    {
        line-height: calc(100% + 8px);
    }


    .case_info .section .logo
    {
        justify-content: flex-start;
        order: 1;

        width: 100%;
        margin-bottom: 24px;
    }


    .case_info .section .logo img
    {
        max-width: 200px;
        max-height: 48px;
    }


    .case_info .section .quote .icon
    {
        width: 88px;
    }


    .case_info .section .image
    {
        width: 280px;
        height: 252px;
    }


    .case_info .section .default_image
    {
        width: 440px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 32px 0;
    }


    .action_block .cont
    {
        gap: 24px 68px;
    }


    .action_block .title
    {
        font-size: 28px;
    }


    .action_block .btn
    {
        height: 52px;
        padding: 0 32px;

        font-size: 18px;
    }



    /*---------------
        Service info
    ---------------*/
    .service_info .head .title
    {
        width: 400px;
    }


    .service_info .head .title + *
    {
        width: calc(100% - 460px);
    }


    .service_info .head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 12px);
    }


    .service_info .stats
    {
        gap: 68px;
    }


    .service_info .stats .val
    {
        font-size: 36px;
    }



    /*------------------------
        Service industries
    ------------------------*/
    .service_industries .industry
    {
        padding: 28px;
    }


    .service_industries .industry .name
    {
        min-height: 56px;

        font-size: 20px;
        line-height: calc(100% + 8px);
    }


    .service_industries .industry .desc
    {
        font-size: 14px;
        line-height: calc(100% + 8px);
    }



    .service_industries .action
    {
        padding: 28px;

        font-size: 26px;
    }


    .service_industries .action .btn
    {
        height: 52px;
        margin-top: 28px;
        padding: 0 32px;

        font-size: 17px;
    }



    /*------------------
        Service data
    ------------------*/
    .service_data .expertise
    {
        width: 400px;
    }


    .service_data .expertise .items
    {
        font-size: 16px;
    }


    .service_data .expertise.full_w .items
    {
        margin-left: -24px;

        gap: 0;
    }


    .service_data .expertise.full_w .col
    {
        width: calc(33.333% - 24px);
        margin-left: 24px;
    }


    .service_data .expertise .col
    {
        gap: 16px;
    }


    .service_data .expertise .col > *
    {
        padding-left: 16px;
    }


    .service_data .expertise .col > *:before
    {
        top: 7px;

        width: 5px;
        height: 5px;
    }



    .service_data .team
    {
        width: calc(100% - 448px);
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding: 68px 0;
    }


    .about_head .data
    {
        width: 480px;
    }


    .about_head .title
    {
        font-size: 44px;
    }


    .about_head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .about_head .message
    {
        margin-top: 28px;
        padding-left: 24px;

        font-size: 16px;
        line-height: calc(100% + 10px);
    }


    .about_head .message:before
    {
        height: calc(100% - 10px);
    }


    .about_head .exp
    {
        width: 312px;
        padding: 28px 60px 28px 28px;

        font-size: 15px;
        line-height: calc(100% + 8px);
    }



    /*----------------
        About data
    ----------------*/
    .about_data
    {
        margin-bottom: 60px;
        padding-top: 100px;
    }


    .about_data .image
    {
        width: 320px;
    }


    .about_data .data
    {
        width: 324px;
        margin-top: -180px;

        gap: 24px;
    }


    .about_data .data .exp
    {
        width: 300px;
        min-height: 260px;
        padding: 40px 60px 24px 24px;

        font-size: 16px;
        line-height: calc(100% + 8px);
    }


    .about_data .data .desc
    {
        font-size: 17px;
        line-height: calc(100% + 10px);
    }


    .about_data .stats
    {
        width: 176px;
        margin-top: 68px;
    }


    .about_data .stats .val
    {
        font-size: 28px;
    }


    .about_data .stats .desc
    {
        font-size: 17px;
        line-height: calc(100% + 10px);
    }



    /*------------
        Why we
    ------------*/
    .why_we .row
    {
        padding: 12px 0 0;
    }


    .why_we .col + .col
    {
        margin-left: 24px;
        padding-left: 24px;
    }


    .why_we .col .title
    {
        font-size: 20px;
    }


    .why_we .col .stats .val
    {
        font-size: 28px;
    }


    .why_we .col .stats .desc
    {
        line-height: calc(100% + 8px);
    }


    .why_we .col .items
    {
        font-size: 16px;
    }


    .why_we .col .desc
    {
        font-size: 15px;
        line-height: calc(100% + 8px);
    }


    .why_we .col .logos_wrap
    {
        height: 120px;
    }



    .why_we .col .logos
    {
        gap: 24px;
    }


    .why_we .col .logos picture
    {
        max-width: 120px;
        height: 48px;
    }


    .why_we .col .logos picture img
    {
        height: auto;
    }


    .why_we .col .spoler_btn
    {
        margin-top: 20px;

        font-size: 16px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        margin-bottom: 48px;
        padding: 40px;
    }


    .article_info .head .data
    {
        width: calc(100% - 300px);
    }


    .article_info .image
    {
        width: 260px;
    }


    .article_info .text_block
    {
        width: 100%;
        padding-left: 0;
    }



    /*-------------------
        Services head
    -------------------*/
    .services_head .section + .section
    {
        margin-top: 68px;
    }



    .services_head .image
    {
        width: 360px;
    }


    .services_head .info
    {
        width: calc(100% - 408px);
    }



    .services_head .items
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .services_head .item
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
        padding: 31px 23px;
    }


    .services_head .item:nth-child(1)
    {
        padding: 31px 23px 119px;
    }

    .services_head .item:nth-child(2)
    {
        padding-top: 67px;
        padding-bottom: 47px;
    }

    .services_head .item:nth-child(3)
    {
        padding: 124px 48px 24px 24px;
    }


    .services_head .item .number
    {
        width: 92px;
        height: 80px;
    }


    .services_head .item:nth-child(1) .number
    {
        bottom: 16px;
        left: 24px;
    }

    .services_head .item:nth-child(2) .number
    {
        top: -37px;
        left: 24px;
    }

    .services_head .item:nth-child(3) .number
    {
        top: 6px;
        left: 24px;

        width: 120px;
        height: 108px;
    }



    /*------------------
        Our services
    ------------------*/
    .our_services .tabs .btn
    {
        padding: 23px 0;

        font-size: 20px;
    }


    .our_services .image
    {
        width: 360px;
    }


    .our_services .data
    {
        width: calc(100% - 408px);
    }


    .our_services .link .btn
    {
        padding: 14px 36px;

        font-size: 17px;
        line-height: 23px;
    }



    /*-------------
        Why we2
    -------------*/
    .why_we2 .block_head
    {
        width: 360px;
        padding: 39px;
    }


    .services_head .block_head
    {
        margin-bottom: 24px;
    }


    .why_we2 .data
    {
        width: calc(100% - 408px);
        padding: 40px;
    }


    .why_we2 .data .name
    {
        font-size: 20px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding-block: 100px;
    }


    .error_page .data
    {
        width: 360px;

        gap: 28px;
    }


    .error_page .desc
    {
        font-size: 16px;
    }


    .error_page .links a
    {
        height: 48px;
        padding-inline: 48px;

        font-size: 16px;
    }


    .error_page .code
    {
        width: calc(100% - 440px);
        padding-block: 80px;
        padding-inline: 80px;
    }



    /*-----------
        Products
    -----------*/
    .products
    {
        padding-bottom: 40px;
    }


    .products:after
    {
        max-width: calc(100% - 48px);
    }


    .products .head .title + *
    {
        width: calc(100% - 400px);

        gap: 32px;
    }


    .products .head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .products .filter
    {
        gap: 24px 80px;
    }


    .products .filter .nice-select .current
    {
        height: 40px;

        font-size: 17px;
        line-height: 40px;
    }


    .products .filter .nice-select-dropdown
    {
        top: -4px;

        width: 220px;
    }


    .products .filter .nice-select .list .option
    {
        font-size: 17px;
    }



    .products .grid > *
    {
        width: calc(50% - 24px);
    }



    .products .more
    {
        margin-top: 40px;
    }


    .products .more .btn
    {
        font-size: 17px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head .cont
    {
        min-height: 450px;
        padding-block: 60px;
    }


    .product_info .head .info
    {
        width: 524px;
    }


    .product_info .head .title
    {
        font-size: 48px;
    }


    .product_info .head .desc
    {
        font-size: 18px;
        line-height: calc(100% + 10px);
    }


    .product_info .head .btn
    {
        font-size: 17px;
    }



    .product_info .data
    {
        margin-top: 60px;
    }


    .product_info .data .info
    {
        width: calc(100% - 408px);
    }


    .product_info .data .image
    {
        width: 360px;
    }


    .product_info .data .decoration
    {
        display: none;
    }


    .product_info .data .line
    {
        margin-top: 60px;
    }



    /*------------------
        How achieved
    ------------------*/
    .how_achieved .swiper-slide
    {
        width: 348px;
    }


    .how_achieved .controls
    {
        display: flex;
    }


    .how_achieved .item,
    .how_achieved .item.top_border,
    .how_achieved .item.bottom_border
    {
        border-radius: 24px;
    }



    /*----------------
        Uase range
    ----------------*/
    .uase_range .features .title
    {
        font-size: 24px;
        line-height: 48px;
    }


    .uase_range .features .items > *
    {
        font-size: 16px;
    }


    .uase_range .features .icon
    {
        width: 20px;
        margin-block: 2px;
    }



    .uase_range .swiper-slide
    {
        width: 348px;
    }


    .uase_range .controls
    {
        display: flex;
    }


    .uase_range .item,
    .uase_range .item.top_border,
    .uase_range .item.bottom_border
    {
        border-radius: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-top: 48px;
        padding-bottom: 80px;
    }


    footer .logo img
    {
        width: 180px;
        height: 37px;
    }



    footer .menu
    {
        margin-left: 124px;

        gap: 40px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        width: 680px;
    }
}
