.swiper-button-next,
.swiper-button-prev
{
    top: auto;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 107px;
    height: 16px;
    margin: 0;

    transition: .2s linear;
    transform: none;

    color: #39439e;
}


.swiper-button-prev
{
    right: 137px;
    left: auto;
}

.swiper-button-next
{
    right: 0;
}


.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 107px;
    height: 16px;
}

.swiper-button-prev .icon
{
    transform: rotate(180deg);
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: 20px;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 8px;

    pointer-events: none;

    gap: 8px;
}


.swiper-pagination-bullet
{
    display: block;

    width: 8px;
    height: 8px;

    transition: background .2s linear;
    pointer-events: auto;

    opacity: 1;
    border: 2px solid #fff;
    border-radius: 50%;
    background: none;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #fff;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
